
.menu-enter {
    opacity: 0;
    transform: translate3d(200%, 0, 0);
}

.menu-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

.menu-exit {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.menu-exit-active {
    opacity: 0;
    transform: translate3d(200%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}


.bgblur-enter {
    opacity: 0;
    filter: 0;
}

.bgblur-enter-active {
    opacity: 1;
    filter: blur(5px);
    transition: opacity 1100ms, filter 1000ms;
}

.bgblur-exit {
    opacity: 1;
}

.bgblur-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}




